/*======================StartCode===============================*/
/*font-family*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --text-grey-color: hsl(210, 22%, 49%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 50%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: black;
  font-size: 1.6rem;
  min-height: 1000px;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 62.5%;
  }

  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 1.9rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  h6 {
    font-size: 1.3rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.5;
  }
}
/*======================EndCode===============================*/

.heading__title {
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #ec7532;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
  &::after {
    position: absolute;
    right: auto;
    bottom: -1px;
    display: block;
    width: 125px;
    height: 4px;
    content: "";
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
  }
}
